<div classe="container">
<div class="card">
  <div class="card-header">
    <!--{{ item.state }}-->
    <!-- <span *ngIf="item.state === 0">A LIVRER</span> -->
   <!--
    <span class = "state-0" *ngIf="state.ALIVRER === item.state">A LIVRER</span>
    <span class = "state-1" *ngIf="state.ENCOURS === item.state">EN COURS</span>
    <span class = "state-2" *ngIf="state.LIVREE === item.state">LIVREE</span>
   -->

    <span [appState] = "item.state"></span>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ item.name }}</h4>
    <p class="card-text">{{ item.reference }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>


