<div class="container">
  <div *ngFor="let item of collection">




    <app-item [itemtoto]="item"></app-item>







<!--
{{ collection | json }}

    <div class="card">
      <div class="card-header">
        state livraison
        {{ item.state }}
      </div>
      <div class="card-body">
        <h4 class="card-title">{{ item.name }}</h4>
        <p class="card-text">{{ item.reference }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  -->





  </div>
</div>
