<form class="form" [formGroup]="form" (ngSubmit)="process()" novalidate>

    <div class="form-group">
        <input type="text"  formControlName="name" class="form-control" placeholder="Nom et prenom" minlength="5" required>
      </div>
      <div class="alert alert-danger" *ngIf="isError('name')">Champs invalide.</div>


    <div class="form-group">
        <input type="text" formControlName="ref" class="form-control" placeholder="Reference ex : 1234" minlength="4" required>
      </div>
      <div class="alert alert-danger" *ngIf="isError('ref')">Champs invalide.</div>



    <div class="form-group">
        <select class="form-control" formControlName="state">
          <option [ngValue]="state.ALIVRER">A livrer</option>
          <option [ngValue]="state.ENCOURS">En cours</option>
          <option [ngValue]="state.LIVREE">Livree</option>
        </select>
      </div>



    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
  </form>
