
<app-menu></app-menu>
<router-outlet></router-outlet>



<!-- -->
<!--
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<app-home></app-home>
<br/><br/>
<app-page-not-found></app-page-not-found>
<br/><br/>
<app-add></app-add>
<br/><br/>
<app-list-items></app-list-items>
<br/><br/>
-->
